@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
.lead {
	width: 76.875%;
	margin: 56px auto 0;
}

@media screen and (max-width:1279px) {
	.lead {
		width: 90.625%;
		margin: 48px auto 0;
	}
}

@media screen and (max-width:1023px) {
	.lead {
		width: 100%;
	}
}