.footer__copyright {
	width: 186px;
	min-height: 16px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0;
	text-align: end;
}

@media screen and (max-width:767px) {
	.footer__copyright {
		text-align: start;
		line-height: 14px;
	}
}